.footer {
    margin-top: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    height: 80px; /* 푸터 높이를 늘림 */
    display: flex;
    justify-content: flex-end; /* 가로 방향 오른쪽 정렬 */
    align-items: flex-end;     /* 세로 방향 하단 정렬 */
    padding: 0 20px;          /* 좌우 여백 추가 */
    margin-right: 20px;
  }
  
  .footer p {
    font-size: 0.8rem;  /* 작은 글씨 크기 */
    margin: 10px 0;     /* 위아래 여백 */
    color: #555;
    text-align: right;
  }
  